root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.ts]
quote_type = single

[*.{gradle,java,kt,swift,xml}]
indent_size = 4

[*.plist]
indent_style = tab
indent_size = 4

[*.md]
max_line_length = off
trim_trailing_whitespace = false
